<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xiaobu.com.xiaobugift">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".utils.volley.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.MainActivity"/>
        <activity android:name=".activity.home.HomeGlideActivity"/>
        <activity android:name=".activity.home.HomeGridActivity"/>
        <activity android:name=".activity.home.HomeChoiceWebActivity"/>
        <activity android:name=".activity.home.HomeUseWebActivity"/>
        <activity android:name=".activity.gift.GiftNextActivity"/>
        <activity android:name=".activity.category.CategoryStrategyHeadNextActivity"/>
        <activity android:name=".activity.category.CategoryStrategyBottomNextActivity"/>
        <activity android:name=".activity.category.CategoryOneNextActivity"/>
        <activity android:name=".activity.main.SearchActivity"/>
    </application>

</manifest>